altgraph==0.17.4
black==24.4.2
click==8.1.7
colorama==0.4.6
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.2.2
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pynput==1.7.6
pywin32-ctypes==0.2.2
screeninfo==0.8.1
setuptools==69.2.0
six==1.16.0
